/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace components "com.lafabrick.spark.components.*";

components|SparkToolTip
{
	skinClass:ClassReference("com.lafabrick.spark.skins.SparkToolTipSkin");
	
	fillColor :#303030;
	fillAlpha :.6;
	
	borderColor :#202020;
	borderAlpha :0.8;
	
	cornerRadius : 8;
	
	color:#FFFFFF;
}